html {
	background-image: url("../images/puerto_madero_background_small.jpg");
  	background-size:cover;
  	background-position: left top;
  	background-attachment: fixed;
  	}

body {
	font-family:"calibri", calibri;
	color: #ffffff;
	text-align:center;
	font-size: 1.1em;
	margin: 0;
	padding: 0;
	}

h1 {
	color: #ffffff;
	}

ul {
	text-indent: 1em;
	list-style-type: none;
}

a:link {
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: #ffffff;
}

a:hover {
	text-decoration: underline;
}

table {
	padding:10px;
	margin: 5% 5%;
	text-align:left;
	border-spacing:10px;
}

blockquote {
	font-family:"centaur", centaur;
	font-size: 1.1em;
}

.top-nav {
	background-color: #202020;
	color: white;
	height: 50px;
	padding: 15px 50px 15px 15px;
}

.name {
	display: inline-block;
}

.links {
	float: right;
	margin-top: 15px;
}

.nav-link:link {
	display: inline-block;
	padding-right: 30px;
	padding-left: 30px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	background-color: #202020;
	-webkit-transition: background-color 1.0s ease-in;
	transition: background-color 1.0s ease-in;
	-webkit-transition: color .2s ease-in;
	transition: color .2s ease-in;
}

.nav-link:hover {
	background-color: #FFFFFF;
	color: black;	
}

.nav-link:visited {
	text-decoration: none;
	color: white;
}

.nav-link:hover {
	text-decoration: none;
	color: black;
}

.interests-header {
	margin-left:5%;
	margin-top:5%;
	text-align: center;
	color: black;
}

.home-menu {
	width:200px;
  	height:290px;
  	margin-left:60%;
  	margin-top:2.5%;
  	background-color: black;
  	opacity:0.8;
}

.about {
	width: 950px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

.about-image {
	float: left;
	width: 550px;
	height: auto;
	margin-right: 20px;
	border-style:solid;
	border-width:2px;
	color: #505050;
	opacity: 1.0;
}

.biography {
	float:left;
	width: 300px;
	background-color:#505050;
  	opacity:0.8;
  	padding: 30px;
  	text-align: left;
  	max-height: 310px;
}

.contact {
	width: 80%;
	margin-top: 15%;
	margin-right: auto;
	margin-left: auto;
	background-color: black;
	padding: 10px;
	opacity: 0.6;
	list-style-type: none;
	height: 50px;
	line-height: 50px;
}

.contact-item {
	display: inline-block;
	padding-left: 70px;
	padding-right: 70px;
}

.interests {
	margin-left:5%;
	margin-top:5%;
	background-color:#A0A0A0;
	padding-left: 20px;
}

.image_travel {
	max-width: 347px;
	max-height: 260px;
}

.sp_link {
	padding-left: 40px;
}

.interests-header {
	margin-left:5%;
	margin-top:5%;
	text-align: center;
	color: black;
}